$txtDark: rgb(32, 47, 54);
$Blue: rgb(165, 206, 254);
$Violet: rgb(140, 151, 251);
$txtLight: rgb(247, 251, 254);
$White: rgb(255, 255, 255);
$GreyViolet: #7379B0;
$DarkBlue: #2E296C;
$LightViolet: rgb(115, 121, 176);
$Red: rgb(211, 70, 69);
$Green: #72b969;
$BlueSecond: #4db9f5;
$Pink: #d61e8c;