@import "../global/colors.scss";
@import "../global/fonts.scss";
@import "../global/function.scss";

.content {
  /* width: 100%;
  height: 100%; */
}

.content_container {
  width: 100%;
  height: 100%;
}

.content_reg {
  background-image: url('/img/numerology-concept-still-life-left.png');
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.reg_title {
  max-width: 602px;

  & h1 {
    color: $DarkBlue;
    font-family: "Tenor Sans";
    @include adaptiv-font(44, 36);
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }

  & p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: $LightViolet;
    font-family: "Mont";
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
  }

  & p:last-child {
    margin: 0;
    color: rgb(32, 47, 54);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }
}

.reg_form {
  margin-top: 50px;
}

.form_top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;

  & input {
    transition: all 1s;
    border-radius: 100px;

    color: $LightViolet;
    font-family: 'Mont';
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;

    background: rgb(254, 254, 254);

    &:hover {
      transition: all 1s;
      background: rgb(226, 228, 245);
    }

    &:focus {
      transition: all 1s;
      box-sizing: border-box;
      /* violet */
      border: 2px solid rgb(140, 151, 251);
      border-radius: 100px;
      background: rgb(255, 255, 255);
    }

    /* inputs */
    position: static;
    width: 357px;
    height: 56px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 17px 28px 17px 28px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    &:last-child {
      margin: 0px 0 0 20px;
    }
  }
}

.form_bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & button {
    /* Frame 11 */
    width: 357px;
    height: 56px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 28px 17px 28px;


    /* Inside Auto Layout */
    margin: 0px 0 0 20px;
    border-radius: 100px;

    background: radial-gradient(59.14% 106.28% at 28.000000000000004% 0%, rgb(179, 186, 251), rgb(140, 151, 251) 100%);

    color: $txtLight;
    font-family: "Mont";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;

    transition: all 1s;

    &:hover {
      background: radial-gradient(74.03% 68.01% at 89% 59%, rgb(184, 217, 255), rgb(140, 191, 251) 100%);
    }

    &:active {
      background: radial-gradient(59.14% 106.28% at 28.000000000000004% 0%, rgb(217, 219, 241), rgb(199, 201, 223) 100%);
    }
  }
}

.reg_content {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.content_about {
  margin-top: 80px;
  background-image: url('/img/numerology-concept-still-life-about.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: rgb(233, 239, 248);
  width: 100%;
  height: 100%;
  padding: 80px 60px;
}

.about_content {
  max-width: 1280px;
  margin: 0 auto;
}

.about_title {
  max-width: 630px;

  p {
    display: inline-block;
    margin-bottom: 10px;
    color: $LightViolet;
    font-family: "mont";
    @include adaptiv-font(14, 14);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
  }

  h2 {
    color: $DarkBlue;
    font-family: "Tenor Sans";
    @include adaptiv-font(30, 24);
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
}

.about_text {
  max-width: 630px;
  margin-top: 20px;

  span {
    color: $txtDark;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
  }
}

.about_button {
  /* Frame 11 */
  position: static;
  width: 357px;
  height: 56px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 28px 17px 28px;


  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;

  border-radius: 100px;

  background: radial-gradient(59.14% 106.28% at 28.000000000000004% 0%, rgb(179, 186, 251), rgb(140, 151, 251) 100%);

  &:hover {
    background: radial-gradient(74.03% 68.01% at 89% 59%, rgb(184, 217, 255), rgb(140, 191, 251) 100%);
  }

  &:active {
    background: radial-gradient(59.14% 106.28% at 28.000000000000004% 0%, rgb(217, 219, 241), rgb(199, 201, 223) 100%);
  }


  color: $txtLight;
  font-family: "Mont";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: left;
}

.content_cards {
  margin-top: 80px;
}

.cards_content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

.content_recognise {
  background: rgb(233, 239, 248);
  padding: 10px;
}

.cards_title {
  margin-bottom: 40px;

  p {
    color: $LightViolet;
    font-family: "Mont";
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
  }

  h2 {
    display: inline-block;
    margin-top: 20px;
    color: $DarkBlue;
    font-family: "Tenor Sans";
    @include adaptiv-font(30, 24);
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-transform: uppercase;

    span {
      color: $Violet;
    }
  }
}

.cards_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
}

.card_structure{
  position: relative;
  max-width: 225px;
  max-height: 225px;
  width: 100%;
  height: 100%;

  &:hover{
    .card_body {
      opacity: 1;
      padding: 20px;
      width: 355px;
    }
  }

  &:nth-child(1) {
    .card_body {
      top: 20%;
      left: 80%;
    }
  }

  &:nth-child(4) {
    .card_body {
      top: 20%;
      right: 80%;
    }
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(7) {
    .card_body {
      top: 60%;
    }
  }

  &:nth-child(5),
  &:nth-child(9) {
    .card_body {
      bottom: 20%;
      left: 80%;
    }
  }

  &:nth-child(8),
  &:nth-child(12) {
    .card_body {
      bottom: 20%;
      right: 80%;
    }
  }

  &:nth-child(10),
  &:nth-child(11) {
    .card_body {
      bottom: 60%;
    }
  }
}

.card_body {
  opacity: 0;
  transition: 1s all;
  z-index: 10000;
  border-radius: 10px;

  box-shadow: 0px 1px 10px 0px rgba(162, 165, 192, 0.2);
  background: rgb(255, 255, 255);
  /* Frame 47 */
  position: absolute;

  h2 {
    display: inline-block;
    margin-bottom: 10px;
    color: $Violet;
    font-family: "Tenor Sans";
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
  }

  p {
    color: $LightViolet;
    font-family: "Mont";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
  }
}

.card {
  z-index: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  padding: 5px;
  box-sizing: border-box;
border-radius: 20px;
backdrop-filter: blur(15px);
background: rgba(255, 255, 255, 0.01);
  transition: 1s all;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #e0e3ff;
    transform: rotate(6deg);
    transition: transform, background-color, .3s;
    z-index: -1;
  }

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 13px;
    padding: 3px;
    background: linear-gradient(175deg, #fff 15%, #d7dbff 97%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    z-index: 100;
  }

  &:hover {
    &::before {
      transform: rotate(-6deg);
      background: rgb(165, 206, 254);
    }
  }

  &:hover{
    .card_body {
      display: block;
      opacity: 1;
    }
    z-index: 1;
  }

  span {
    color: $LightViolet;
    font-family: 'Mont';
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
  }
}

.cards_button {
  transition: all 1s;
  position: relative;
  margin: 0 auto;
  background: radial-gradient(30.08% 99.46% at 89% 74%, rgb(179, 186, 251), rgb(140, 151, 251) 100%);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  color: rgb(247, 251, 254);
  font-family: "Mont";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;

  &:hover {
    transition: all 1s;
    background: radial-gradient(37.70% 124.23% at 22% 16%, rgb(184, 217, 255), rgb(140, 191, 251) 100%);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -9px;
    width: 160px;
    height: 140px;
    background-image: url('/img/Ellipse.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.cards_row {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.recognise_content {
  padding: 80px 60px;
}

.recognise_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.recognise_block {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;

  background: rgb(255, 255, 255);
}

.recognise_title {
  max-width: 600px;

  h2 {
    @include adaptiv-font(30, 24);
  }
}

.recognise_block_title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  h3 {
    display: inline-block;
    margin-left: 25px;
    color: $LightViolet;
    font-family: 'Mont';
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
  }
}

.recognise_text {
  span {
    /* body 18 */
    color: $txtDark;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
  }
}


.content_questions {
  background-image: url('/img/questionMark.png');
  background-repeat: no-repeat;
  background-position: center;
}

.questions_row {
  padding: 0 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url('/img/girl.png');
  background-repeat: no-repeat;
  background-position: center, bottom;
  background-size: contain;
}

.questions_column {
  display: flex;
  flex-direction: column;
  gap: 60px;

  h3 {
    color: $LightViolet;
    font-family: 'Mont';
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
  }
}

.questions_block {
  position: relative;
  display: flex;
  align-items: center;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.01);
  width: 430px;
  height: 100px;
  background-repeat: no-repeat;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    padding: 1px;
    background: linear-gradient(175deg, #fff 15%, #d7dbff 97%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    z-index: 100;
  }

  &:hover{
    &::after{
      transition: all 0.3s;
      transform: rotate(2deg);
    }
  }

  &::after{
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: -9px;
    content: '';
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: #e0e3ff;
    transform: rotate(-2deg);
    transition: transform .3s;
    z-index: -1;
  }

  span {
    display: inline-block;
    margin-left: 20px;
    color: $txtDark;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
  }
}

.questions_sub_block{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 30px;
  backdrop-filter: blur(15px);
    background: radial-gradient(94.16% 115.68% at 100% 32.78%, rgb(255, 255, 255) 0%, rgb(243, 245, 255) 78.18462252616882%, rgb(248, 248, 255) 100%);
    border-radius: 10px;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.questions_column:last-child {
  .questions_block {
    transform: scaleX(-1);

    span {
      transform: scaleX(-1);
      margin-right: 20px;
    }
  }
}

.content_material {
  background-color: rgb(233, 239, 248);
  overflow: hidden;
  padding: 20px 0;
}

.material_title {
  max-width: 780px;
}

.material_row {
  position: relative;
  display: flex;
  flex-direction: row;

  img {
    position: absolute;
    z-index: 0;
    left: 45%;
    bottom: -5%;
  }
}

.material_column {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.material_block {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;

  background: $White;
  width: 630px;
  height: 213.33px;
  padding: 20px;
}

.material_block_number {
  position: relative;
  top: 63px;
  color: rgb(233, 239, 248);
  font-family: 'Tenor Sans';
  font-size: 144px;
  font-weight: 400;
  line-height: 168px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}

.material_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.material_block_title {
  color: $LightViolet;
  font-family: 'Mont';
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: left;
  text-transform: uppercase;
}

.material_text {
  span {
    color: $txtDark;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
  }
}

.material_scope {
  span {
    color: $Violet;
    font-family: 'Mont';
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
    text-transform: uppercase;
  }
}

.content_forecast {
  margin-top: 80px;
  background-image: url('/img/forecast.png');
}


.us_number {
  background: rgb(233, 239, 248);
}

.us_number_title {
  margin-top: 20px;
}

.us_number_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 20px;
}

.us_number_block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 341.33px;
  height: 164px;
  border-radius: 10px;

  box-shadow: 0px 4px 13px 0px rgba(170, 173, 202, 0.2);
  background: rgb(255, 255, 255);
}

.us_number_number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 10px;

  border-radius: 10px;

  box-shadow: 0px 4px 13px 0px rgba(170, 173, 202, 0.2);
  background: rgb(224, 227, 255);
  width: 182px;
  height: 60px;

  span {
    color: $LightViolet;
    font-family: 'Mont';
    font-size: 50px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
  }
}

.us_number_text {
  margin-left: 20px;

  span {
    /* body 18 */
    color: $txtDark;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
  }
}


.content_couple {
  background-image: url('/img/couple.png');
}

.couple_form_row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.couple_form_sex {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    border-radius: 100px;

    background: rgb(254, 254, 254);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 17px 28px 17px 28px;
    width: 357px;
    height: 56px;
    color: $LightViolet;
    font-family: 'Mont';
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
    transition: all 1s;

    &:hover {
      transition: all 1s;
      background: rgb(226, 228, 245);
    }

    &:focus {
      transition: all 1s;
      box-sizing: border-box;
      /* violet */
      border: 2px solid rgb(140, 151, 251);
      border-radius: 100px;
      background: rgb(255, 255, 255);
    }
  }
}

.couple_form_title {
  display: flex;
  align-items: center;

  h3 {
    display: inline-block;
    margin-left: 10px;
    color: $LightViolet;
    font-family: 'Mont';
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
  }
}

.couple_form {
  margin-top: 30px;
  display: flex;
  max-width: 764px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.couple_button {
  margin-top: 50px;
  border-radius: 100px;

  background: radial-gradient(59.14% 106.28% at 28.000000000000004% 0%, rgb(179, 186, 251), rgb(140, 151, 251) 100%);

  &:hover {
    background: radial-gradient(74.03% 68.01% at 89% 59%, rgb(184, 217, 255), rgb(140, 191, 251) 100%);
  }

  &:active {
    background: radial-gradient(59.14% 106.28% at 28.000000000000004% 0%, rgb(217, 219, 241), rgb(199, 201, 223) 100%);
  }

  width: 357px;
  height: 56px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 28px 17px 28px;
  color: $txtLight;
  font-family: 'Mont';
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: left;
}

.couple_title {
  h1 {
    @include adaptiv-font(30, 24);
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}

.content_couple {
  margin-top: 80px;
}

.content_level {
  background-color: rgb(233, 239, 248);
  padding: 30px 0;
}

.level_block {
  z-index: 1;
  transition: all 0.3s;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;

  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.4);
  width: 360px;
  height: 195px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &::before {
    transition: all 0.3s;
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    background: rgb(248, 248, 248);
    width: 360px;
    height: 195px;
    transform: rotate(6.00deg);
    border-radius: 20px;
  }

  &:hover{
    &::before{
      transition: all 0.3s;
      transform: rotate(-6deg);
    }
  }

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 13px;
    padding: 3px;
    background: linear-gradient(175deg, #fff 15%, #d7dbff 97%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    z-index: 100;
  }

  p {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    /* body 18 */
    color: $txtDark;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
  }
}

.level_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.level_title {
  max-width: 800px;
}

.faq_column {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.faq_block,
.faq_block_active {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 20px 30px 20px 30px;

  background: rgb(252, 252, 255);
}

.faq_block_active {
  transition: 0.3s ease-in-out;
  background: rgb(208, 213, 255);

  .faq_img {
    img {
      transition: 0.3s ease-in-out;
      transform: rotate(190deg);
    }
  }
}

.faq_block:hover {
  .faq_block_title {
    h3 {
      transition: 0.3s ease-in-out;
      color: $Violet;
    }

    .faq_img {
      background: radial-gradient(51.20% 138.84% at 26% 9%, rgb(184, 217, 255), rgb(140, 191, 251) 100%);

      &::before {
        transition: 0.3s ease-in-out;
        transform: rotate(15deg);
      }
    }
  }
}

.faq_block_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    transition: 0.3s ease-in-out;
    color: $LightViolet;
    font-family: 'Mont';
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
    text-transform: uppercase;
  }
}

.faq_img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(42.05% 67.27% at 73% 66%, rgb(179, 186, 251), rgb(140, 151, 251) 100%);
  border-radius: 50%;
  transform: rotate(-8.99deg);
  width: 104px;
  height: 47px;

  &::before {
    content: '';
    transition: 0.3s ease-in-out;
    display: block;
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1.5px solid rgb(118, 125, 191);
    width: 104px;
    height: 48px;
  }

  img {
    transition: 0.3s ease-in-out;
    transform: rotate(8.99deg);
  }
}

.faq_text {
  transition: 0.3s ease-in-out;

  span {
    color: $txtDark;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
  }
}

.faq_text {
  transition: 0.3s ease-in-out;
  overflow: hidden;
  height: 0;
}

@media(max-width: 1200px) {
  .level_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 1040px) {
  .questions_row {
    flex-wrap: wrap;
    background-image: none;
    padding: 0px;
  }

  .questions_column:nth-child(2) {
    display: flex;
    justify-content: center;
    height: 416px;
    width: 100%;
    margin-top: 30px;
    order: 2;
    background-image: url('/img/girl.png');
    background-repeat: no-repeat;
    align-items: flex-start;
    justify-content: center;
    background-position: right;

    h3 {
      display: inline-block;
      width: 219px;
    }
  }
}

@media(max-width: 1000px) {
  .material_block {
    width: 460px;
    height: 230px;
  }

  .material_row {
    img {
      left: 10%;
    }
  }

  .content_about {
    background-image: url('/img/numerology-concept-still-life-about-1000.png');
  }

  .recognise_row {
    flex-direction: column;
  }

  .card_structure {

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      .card_body {
        width: 320px;
        top: 60%;
        right: 0;
        left: -20%;
        bottom: 0;
      }
    }
  }
}

.questions_title {
  h2 {
    max-width: 573px;
  }
}

@media(max-width: 900px) {
  .faq_block_title {
    h3 {
      width: 500px;
      font-size: 16px;
    }
  }

  .us_number_grid {
    justify-items: center;
    justify-content: center;
  }
}

@media(max-width: 780px) {
  .level_grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .content_couple {
    background-size: 50%;
    background-position: top right;
  }

  .couple_form_row {
    flex-direction: column;
  }

  .content_about {
    background-image: url('/img/numerology-concept-still-life-about-768.png');
  }
}

@media(max-width: 735px) {
  .content_reg {
    background-size: cover;
    background-position: left;
  }

  .content_couple {
    background-size: 50%;
    background-position: top right;
  }

  .form_top {
    flex-direction: column;

    input,
    input:last-child {
      width: 100%;
      margin: 0;
    }

    input:last-child {
      margin-top: 20px;
    }
  }

  .form_bottom {
    flex-direction: column;

    button {
      width: 100%;
      margin: 0;
      margin-top: 20px;
    }
  }
}

@media(max-width: 650px) {
  .cards_grid {
    justify-items: center;
    justify-content: center;
  }
}

@media(max-width: 620px) {
  .cards_grid {
    justify-items: center;
  }

  .questions_column:nth-child(2) {
    align-items: flex-end;
  }
}

@media(max-width: 590px) {
  .faq_block_title {
    h3 {
      width: 274px;
    }
  }
}

@media(max-width: 490px) {
  .level_block {
    flex-direction: row;
    gap: 10px;
  }

  .content_couple {
    background-size: 100%;
    background-position: right bottom 30%;
  }

  .material_row {
    position: relative;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
      position: relative;
      left: 0;
      bottom: 0;
    }
  }

  .about_button {
    margin: 130px 0 0 0;
  }

  .content_about {
    background-image: url('/img/numerology-concept-still-life-about-480.png');
    background-position: right bottom;
    padding: 10px;
    background-size: 68%;
  }

  .cards_grid {
    justify-content: center;
  }

  .recognise_block_title {
    flex-direction: column;
    text-align: center;
  }

  .recognise_block {
    height: 100%;
  }

  .questions_block {
    width: 100%;

    span {
      max-width: 400px;
    }
  }

  .questions_column {
    gap: 20px;
  }

  .questions_column:last-child {
    .questions_block {
      transform: scaleX(1);

      span {
        transform: scaleX(1);
      }
    }
  }

  .material_block {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 190px;
    height: 190px;
    background-size: contain;

    span {
      font-size: 16px;
    }
  }

  .level_block,
  .level_block::before {
    width: 100%;
  }
}

@media(max-width: 420px) {
  .content_about {
    padding: 10px;
  }

  .about_button {
    width: 100%;
  }

  .questions_block {
    width: 100%;
  }

  .us_number_block,
  .couple_form_sex input {
    width: 300px;
  }

  .couple_button {
    width: 100%;
  }

  .recognise_content {
    padding: 0;
  }
}

@media(max-width: 320px) {
  .card {

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      .card_body {
        left: -20%;
      }
    }
  }
}