@import '../../global/colors.scss';
@import '../../global/fonts.scss';
@import '../../global/function.scss';

.content_title {
  h1 {
    /* h2 */
    text-align: center;
    color: $txtDark;
    font-family: "Tenor Sans";
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-transform: uppercase;

    span {
      color: $LightViolet;
    }
  }
}

.content_user {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 40px auto 0;
  padding: 0 20px;
}

.user_block {
  span {
    /* body 18 */
    color: $txtDark;
    font-family: 'Mont Light';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;

    b {
      font-family: "Mont Semi Bold";
      font-weight: 700;
    }
  }
}

.content_schema {
  padding: 80px 20px;
}

.schema_container {
  max-width: 1280px;
  margin: 0 auto;
}

.schema_title {
  h2 {
    /* h2 */
    font-family: 'Tenor Sans';
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

    span {
      color: $Red;
    }
  }
}

.schema_row {
  display: flex;
  justify-content: space-between;
}

.schema_block {
  margin-top: 40px;
  border-radius: 10px;

  background: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  height: 100%;
}

.table_container {
  width: 100%;
  height: 100%;
}

.header_row {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;

  box-shadow: 0px 0px 8.9px 0px rgba(165, 170, 214, 0.35);
  background: rgb(255, 255, 255);
  padding: 10px 5px;

  & span {
    color: $txtDark;
    font-family: "Mont Light";
    @include adaptiv-font(18, 16);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }
}

.header_row_right {
  display: flex;
  justify-content: space-between;
  max-width: 268px;
  width: 100%;

  & span {
    color: $txtDark;
    font-family: "Mont Light";
    @include adaptiv-font(18, 16);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }
}

.table_body {
  border-radius: 10px;

  /* bg */
  background: rgb(248, 248, 248);
  width: 100%;
  height: 100%;
  margin: 40px 0;
  padding: 0 10px;
}

.chakra_row {
  border-bottom: 1px solid rgb(210, 214, 249);
  height: 60px;
  font-family: "Mont Semi Bold";
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }

  .chakra_numbers {
    span {
      font-family: inherit;
      @include adaptiv-font(18, 16);
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 2%;
      text-align: center;
      color: $txtDark;
    }
  }
}

.chakra_numbers {
  max-width: 210px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chakra_name {
  max-width: 196px;
  width: 100%;
  display: flex;
  align-items: center;
}

.chakra_name span {
  width: 70%;
  font-family: "Mont Semi Bold";
  @include adaptiv-font(18, 16);
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: left;
}

.chakra_dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 20px;
}

.chakra_info {
  cursor: pointer;
}

.result_row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;

  box-shadow: 0px 0px 8.9px 0px rgba(165, 170, 214, 0.35);
  background: rgb(255, 255, 255);

  span {
    color: $txtDark;
    font-family: "Mont Semi Bold";
    @include adaptiv-font(18, 16);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
  }
}


.result_row_right {
  display: flex;
  max-width: 210px;
  width: 100%;
  justify-content: space-between;
}

.chakra_info {
  position: relative;
}

.info_block {
  z-index: 500;
  transition: all 1s ease-in-out;
  display: none;
  position: absolute;
  box-shadow: 0 1px 10px 0 rgba(162, 165, 192, 0.2);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 380px;
  height: 168px;
  top: 50%;
  left: 50%;

  .info_title {
    h4 {
      font-family: "Tenor Sans";
      font-weight: 400;
      @include adaptiv-font(26, 16);
      color: $Red;
    }
  }

  .info_text {
    margin-top: 10px;
    font-family: "Mont Light";
    font-weight: 700;
    @include adaptiv-font(16, 12);
    line-height: 140%;
    letter-spacing: 0.02em;
    color: $GreyViolet;

    & p:first-child {
      font-family: "Mont Semi Bold";
    }
  }
}

.chakra_info img{
  cursor: pointer;
}

.chakra_info:hover{
  .info_block{
    transition: all 1s ease-in-out;
    display: block;
  }
}


@media(max-width: 1280px) {
  .schema {
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .schema_row {
    flex-direction: column;
  }
}

@media(max-width: 620px) {
  .info_block{
    width: 234px;
height: 140px;
  }
}

@media(max-width: 525px) {
  .header_row_right {
    max-width: 220px;
  }

  .chakra_numbers,
  .result_row_right {
    max-width: 150px;
  }
}

@media(max-width: 480px) {
  .chakra_dot {
    display: none;
  }
}

@media(max-width: 430px) {
  .info_block{
    top: 100%;
    left: -500%;
  }
}